.input{
    display: block;
    width: 100%;
    padding: 1.6rem;
    padding-left: 3.2rem;
    margin-bottom: 1.6rem;
    border-radius: 0.5rem;
    border: solid 1px lightgray;
    
}

.input::placeholder{
    font-weight: 600;
}

.input:focus, .input:hover{
    outline: 1px solid var(--blue)

}

.input.inputError{
   border: solid 2px var(--red);
}

.input.inputError::placeholder{
    content: 'email@example.com';
    height: inherit;
    width: inherit;
}

.error{
    font-size: 1rem;
    text-align: end;
    color: var(--red);
    margin-bottom: 0.8rem;
    font-weight: 500;
}
