@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Primary */
--red: hsl(0, 100%, 74%);
--green: hsl(154, 59%, 51%);
  
  /* Accent */
  --blue: hsl(248, 32%, 49%);

  /* Neutral */
  --dark-blue: hsl(249, 10%, 26%); 
  --grayish-blue: hsl(246, 25%, 77%);

  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
  
}

body{
  font-size: 1.6rem;
}

.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  height: 100vh;
  background: url('./Assets/bg-intro-desktop.png'), var(--red);
  grid-template-areas: "left right";
  align-content: center;
  padding: 5rem;
  
  
}

.left-content{
  grid-area: left;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title"
                        "description";
}

.title, .description{
  color: white;
}

.title{
  grid-area: title;
}

.description{
  grid-area: description;
}

.right-content{
  grid-area: right;
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "span"
                        "form";
  gap: 2rem;
}

.right-content span{
  grid-area: span;
  background-color: var(--blue);
  border-radius: 1rem;
  color: var(--grayish-blue);
}

.right-content span a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.right-content form{
  grid-area: form;
  background-color: white;
  border-radius: 1rem;
  padding: 3.2rem;
}

.right-content button{
  background-color: var(--green);
  border-radius: 0.5rem;
  width: 100%;
  text-transform: uppercase;
  color: white;
  padding: 0.8rem;
  border: none;
}

.right-content p{
  color: var(--grayish-blue);
}
.right-content p a{
  text-decoration: none;
  color: var(--red);
  font-weight: 600;
}