@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Primary */
--red: hsl(0, 100%, 74%);
--green: hsl(154, 59%, 51%);
  
  /* Accent */
  --blue: hsl(248, 32%, 49%);

  /* Neutral */
  --dark-blue: hsl(249, 10%, 26%); 
  --grayish-blue: hsl(246, 25%, 77%);

  font-family: 'Poppins', sans-serif;
}

html{
  font-size: 62.5%;
  
}

body{
  font-size: 1.6rem;
  
}

.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  background: url('./Assets/bg-intro-desktop.png'), var(--red);
  min-height: 100vh;
  grid-template-areas: "left right";
  align-content: center;
  padding: 0 5rem;
  
}

.left-content{
  grid-area: left;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title"
                        "description";
  justify-content: center;
  align-self: center;
  
}

.title, .description{
  color: white;
}

.right-content{
  grid-area: right;
  display: grid;
  gap: 2rem;
  justify-content: center;
}


.price-info{
  background-color: var(--blue);
  border-radius: 1rem;
  color: var(--grayish-blue);
  padding: 1.6rem;
  text-align: center;
  box-shadow: 0 2px 2px 2px rgba(0 , 0 , 0, 0.2);
}

.price-info a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.right-content form{
 
  background-color: white;
  border-radius: 1rem;
  padding: 3.2rem;
  box-shadow: 0 2px 2px 2px rgba(0 , 0 , 0, 0.2);
}

.right-content button{
  background-color: var(--green);
  border-radius: 0.5rem;
  width: 100%;
  text-transform: uppercase;
  color: white;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 2px 2px rgba(55, 204, 140, 0.2)
}

.right-content button:hover{
  opacity: 0.6;
}

.terms-description{
  color: var(--grayish-blue);
  text-align: center;
  margin-top: 0.8rem;
}
.terms-description a{
  text-decoration: none;
  color: var(--red);
  font-weight: 600;
  
}

@media screen and (max-width:560px) {
  .App{
    background: url('./Assets/bg-intro-mobile.png'), var(--red);
    grid-template-columns: 1fr;
    grid-template-areas: "left"
                          "right";
    padding: 3.2rem 1.6rem;                
  }

  .title, .description{
    text-align: center;
  }
}